<h2>{{escola?.nome}}</h2>
<div class="container">
  <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action">
    <b>ID:</b> {{escola?.codEscola}}
    </button>
    <button type="button" class="list-group-item list-group-item-action"> <b>Rede: </b>{{escola?.rede}}</button>
    <button type="button" class="list-group-item list-group-item-action"> <b>Endereço:</b> {{escola?.endereco.descricao}} - Bairro: {{escola?.endereco.bairro}}</button>
    <button type="button" class="list-group-item list-group-item-action"> <b>E-mail:</b> {{escola?.email}}</button>
    <button type="button" class="list-group-item list-group-item-action"> <b>Situaçao de funcionamento:</b>  {{escola?.situacaoFuncionamento}}</button>
    <button type="button" class="list-group-item list-group-item-action"> <b>Esfera Administrativa:</b> {{escola?.esferaAdministrativa}}</button>

  </div>
</div>

