<h2>Detalhes</h2>
<div class="container">
  <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action">
    ID: {{escola.codEscola}}
    </button>
    <button type="button" class="list-group-item list-group-item-action">Nome: {{escola.nome}}</button>
    <button type="button" class="list-group-item list-group-item-action">Rede: {{escola.rede}}</button>
    <button type="button" class="list-group-item list-group-item-action">Endereço: {{escola.endereco.descricao}}</button>
    <button type="button" class="list-group-item list-group-item-action">E-mail:{{escola.email}}</button>
  </div>
</div>