.container{
    background-color:   #e6e6e6;
    margin-top: 17%;
    border-radius: 30px;
    width:50%;
    padding-top: 10px;
    text-align: center;

}

.btn-p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

